* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb( 74, 74, 74);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-weight: 300;
}

/* Header Section */

.desktop {
  display: flex;
  align-items: center;
  height: 4rem;
}

.desktop img {
  padding-left: 1.5rem;
}

.desktop h3 {
  text-transform: uppercase;
  flex-grow: 1;
  font-weight: 500;
}

.desktop span {
  color: rgb(155, 155, 155);
  font-weight: lighter;
}

nav ul {
  display: flex;
}

nav li:hover {
  text-decoration: underline;
}

ul li {
  padding: 0rem 0.5rem;
}

li a {
  color: black;
}

header.mobile {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  header.desktop {
    display: none;
  }
  
  header.mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
  
  nav {
    width: 100%;  
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}


/* Site Container */

.site-container {
  width: 960px;
  margin: 0 auto;
}

/* Mobile */
@media screen and (max-width: 500px) {
  .site-container {
    width: auto;
  }
}

/* Learn Something New Everyday Section */

.learn {
  background-color: rgb(216, 216, 216);
  display: flex;
  align-items: center;
}

.learn img {
  max-width: 60%;
  height: auto;
  padding: 2rem 2.5rem 2rem 1.5rem;
}

.learn-content {
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

.learn-content h1 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.learn-content h4 {
  font-weight: 400;
}

.learn-start {
  background-color: rgb(74, 74, 74);
  color: white;
  width: auto;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0.5rem 0rem;
}

.learn-start:hover {
  background-color: gray;
}

.learn-start a {
  color: white;
}
/* Media Queries */
@media screen and (max-width: 500px) {
  .learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .learn img {
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 0rem;
  }

  .learn-content {
    max-width: 90%;
  }

  .learn-start {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

/* It Doesn't Hurt To Keep Practicing Section */

.practice {
  display: flex;
}

.keep-practicing {
  margin: 2rem 0rem 2rem 1.5rem;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.keep-practicing img {
  max-width: 100%;
  height: auto;
  padding-right: 1.5rem;
}

.keep-practicing h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.gregory {
  font-family: Georgia;
  margin-top: 1.5rem;
}

.events {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.event-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5px solid rgb(155, 155, 155);
}

.event-section:hover {
  background-color: rgb(216, 216, 216);
}

.event-section img {
  max-width: 35%;
  padding: 16px;
}

.event-content {
  margin-left: 0.5rem;
}

.event-content h3 {
  margin-bottom: 0.5rem;
}

.read-more {
  color: rgb(88, 145, 220);
  margin-top: 1rem;
}
/* Media Queries */
@media screen and (max-width: 500px) {
  .keep-practicing {
    display: none;
  }

  .events {
    width: 90%;
    align-items: center;
  }

  .event-section {
    border: none;
  }
}

/* Start Learning Section */

.start-learning {
  background-color: rgb(216, 216, 216);
}

.start-learning h1 {
  padding-top: 2rem;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0rem 2rem 0rem;
}

.course-section {
  background-color: white;
  width: 27.5%;
  margin: 1rem 0.75rem 3rem 0.75rem;
}

.course-section:hover {
  opacity: 0.7;
}

.course-section img {
  max-width: 100%;
}

.course-section h3 {
  padding: 1rem 0rem 0.5rem 0rem;
}

.course-description {
  padding: 0rem 1rem;
}

p.course {
  text-transform: uppercase;
  padding: 0.5rem 0rem;
}

.course-content {
  padding-bottom: 1.5rem;
}
/* Media Queries */
@media screen and (max-width: 500px) {
  .start-learning {
    background-color: white;
  }

  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .courses img, .courses p {
    display: none;
  }

  .courses h3 {
    padding-bottom: 1rem;
  }

  .course-section {
    width: 90%;
    margin: 0rem 0rem 0.5rem 0rem;
    background-color: rgb(216, 216, 216);
  }
}

/* Thesis Exhibit Section */

.section-title {
  text-align: center;
}

/* Footer Section */

footer {
  border-top: 1px solid rgb(216, 216, 216);
  color: rgb(155, 155, 155);
  padding: 0rem 1.5rem;
}

footer div {
  padding: 1rem 0rem 3rem 0rem;
}

.bottom {
  display: flex;
}

.bottom p {
  flex-grow: 1;
}

.bottom ul {
  display: flex;
}

.terms a {
  color: rgb(155, 155, 155);
}

/* Media Queries */
@media screen and (max-width: 500px) {
  footer ul li {
    display: none;
  }

  footer div {
    padding: 1rem 0rem;
  }
}